* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero_section {
  background: url(./images/heroSectionBackground.png);
  background-size: cover;
  background-position: center;
  min-height: 60vh;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  /* //height of navbar */

  padding: 16px 40px;
}
.navbar a {
  color: white;
  text-decoration: none;
}

.navbar_menu_container {
  display: flex;
  gap: 18px;
}
.navbar_menu_container .user_icon {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: solid 1px white;
  display: none;
  /* shoen only on mobile  */
}

.hero__section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: calc(60vh- 60px);
  /* border: 3px red dotted; */
}

.hero_section_logo {
  width: 200px;
  /* height: 60px; */
  /* height:auto  */
}
.hero__section_title {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  color: white;
}

.hero__section_input_container {
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 50%;
  border-radius: 10px;
}
.input__container_search,
.input__container_location {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 95%;
  justify-content: start;
  align-items: center;
  padding: left 15px;
  gap: 15px;
  /* border: 2px solid red; */
}
.input__container_search {
  width: 35%;
}
.input__container_location {
  width: 65%;
}
.input_container_location,
.input_container_search {
  padding: 6px;
  border: none;
  outline: none;
  border-radius: 15px;
  width: 96%;
}
.input_container_location {
  width: 95%;
  border-right: 2px solid #e0e0e0;
}
.input_container_search {
  width: 95%;
}
.input_icon {
  color: #959393;
}

@media only screen and (max-width: 600px) {
  .navbar_menu_container .user_icon {
    display: flex;

    /* shoen only on mobile  */
  }
  .link {
    display: none;
  }
  .hero_section {
    min-height: 80vh;
  }
  .navbar {
    padding: 16px;
  }
  .hero__section_input_container {
    flex-direction: column;
    background-color: transparent;
    width: 100%;
  }
  .input__container_location,
  .input__container_search {
    padding: 5px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    width: 95%;
  }
  .input_container_location {
    border: none;
  }
  .hero__section_input_container {
    height: calc(80vh - 60px);
  }
  .hero__section_title {
    font-size: 20px;
    width: 95%;
  }
}

/* out of media 
 */
/* we offer  */
.container {
  margin: 3rem auto;
  width: 90%;
}

.we_offer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.we__offer_card {
  border-radius: 10px;
  width: 240px;
  /* background-color: aqua; */
  overflow: hidden;
  border: 1px solid #e0e0e0;
  transition: all 0.3 ease;
}

.we__offer_card:hover {
  transform: scale(1.1);
}
.we__offer_card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}
